name: 'GitHub LeetCode Bot'

on:
  # 执行git push操作将会触发此脚本
  push:

  # 每隔12小时将会触发此脚本
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  bot:
    # 运行环境，Ubuntu
    runs-on: ubuntu-latest
    steps:
      # 检测代码
      - name: 'Checkout codes'
        uses: actions/checkout@v2
      
      # 修改系统时区
      - name: Setup the time zone to Asia/Shanghai
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Asia/Shanghai
      
      # 安装Python3.6
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      
      # 清除pip缓存   
      - name: Configure pip cache
        uses: actions/cache@v1
        id: pip-cache
        with:
          path: venv
          key: pip-1-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            pip-

      # 安装requirements.txt中的依赖包
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        if: steps.pip-cache.outputs.cache-hit != 'true'

      # 运行leetcode.py文件
      # 将在程序当前生成目录下生成一个新的README.md文件
      - name: Get LeetCode Data
        run: python leetcode.py ${{ secrets.LEETCODE_EMAIL }} ${{ secrets.LEETCODE_PASSWORD }}

      # 执行push操作，推送最新的README.md文件
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update changes

          # 请注意当前项目的分支名，可能是master或main
          branch: master